RewriteEngine on
RewriteRule ^([a-zA-Z0-9]*)$ app.php?module=$1 [QSA]
#RewriteRule ^(famille|catalogue|contact|connexion|admin|membre|edito|article|sfa)$ app.php?module=$1 [L]
RewriteRule ^famille/[0-9a-z-]+-([0-9]+)$ app.php?module=famille&action=detail&id=$1 [L]
RewriteRule ^sousfamille/[0-9a-z-]+-([0-9]+)$ app.php?module=sousfamille&action=detail&id=$1 [L]
RewriteRule ^test/(index|add|detail|edit|delete|modify)$ app.php?module=test&action=$1 [L]
RewriteRule ^contact/(index|add|detail|edit|delete|modify)$ app.php?module=contact&action=$1 [L]
RewriteRule ^edito/(index|add|addeccl|detail|edit|delete|modify|search||searchboth|region)$ app.php?module=edito&action=$1 [L]
RewriteRule ^editocat/(index|add|modify|delete|addcat|detail|edit|deletecat|modifycat|filtre|search|search1|searchlien|searchboth|associer)$ app.php?module=editocat&action=$1 [L]
RewriteRule ^edito/(index|add|detail|edit|delete|modify|filtre|search|search1|searchlien|searchboth|associer|region|day)/([a-zA-Z0-9]*)$ app.php?module=edito&action=$1&id=$2 [L]
RewriteRule ^editobis/(index|add|addcat|detail|edit|delete|deletecat|modify|modifycat|filtre|search|search1|searchlien|searchboth|associer)$ app.php?module=edito&action=$1 [L]
RewriteRule ^editobis/(index|add|detail|edit|delete|modify|filtre|search|search1|searchlien|searchboth|associer)/([a-zA-Z0-9]*)$ app.php?module=edito&action=$1&id=$2 [L]
RewriteRule ^categorie/(index|add|detail|edit|delete|modify|filtre|search|search1|searchlien|searchboth|associer)$ app.php?module=categorie&action=$1 [L]
RewriteRule ^home/(index|add|detail|edit|delete|modify|filtre|search|blank)$ app.php?module=home&action=$1 [L]
RewriteRule ^admin/(index|add|detail|edit|delete|modify|addedito|modifyedito|addnom|modifynom|addcat|modifycat|addeditocat|modifyeditocat|addcatlien|modifycatlien|addart|modifyart|addtarif|modifytarif|modifyfamille|addfamille|addsousfamille|modifysousfamille)$ app.php?module=admin&action=$1 [L]
RewriteRule ^action/(index|add|detail|edit|delete|modify|audit)$ app.php?module=action&action=$1 [L]
RewriteRule ^tarif/(index|add|detail|edit|delete|modify|search)$ app.php?module=tarif&action=$1 [L]
RewriteRule ^famille/(index|add|detail|edit|delete|modify|search|blank)$ app.php?module=famille&action=$1 [L]
RewriteRule ^famillesfam/(index|add|detail|edit|delete|modify|search|blank)$ app.php?module=famillesfam&action=$1 [L]
RewriteRule ^editolien/(index|add|detail|edit|delete|modify|search|blank)$ app.php?module=editolien&action=$1 [L]
RewriteRule ^categorielien/(index|add|detail|edit|delete|modify|search|blank)$ app.php?module=categorielien&action=$1 [L]
RewriteRule ^editoslug/(index|add|detail|edit|delete|modify|search|blank)$ app.php?module=editoslug&action=$1 [L]
RewriteRule ^slugs/(index|add|detail|edit|delete|modify|search|nav)$ app.php?module=slugs&action=$1 [L]
RewriteRule ^nomenclature/(index|add|detail|edit|delete|modify|search|nav)$ app.php?module=nomenclature&action=$1 [L]
RewriteRule ^sousfamille/(index|add|detail|edit|delete|modify|search|blank)$ app.php?module=sousfamille&action=$1 [L]
RewriteRule ^article/(index|add|detail|edit|delete|modify)$ app.php?module=article&action=$1 [L]
RewriteRule ^membre/(index|add|detail|edit|delete|modify|liste)$ app.php?module=membre&action=$1 [L]
RewriteRule ^admin/(index|add|detail|edit|delete)$ app.php?module=admin&action=$1 [L]
RewriteRule ^admin/(delete|edit|detail)/[0-9a-z-]+-([0-9]+)$ app.php?module=admin&action=$1&id=$2 [L]
RewriteRule ^connexion/(index|connect|disconnect|register|tarifs)$ app.php?module=connexion&action=$1 [L]
RewriteRule ^catalogue/categorie-([0-9]+)$ app.php?module=catalogue&action=category&cat=$1 [L]
RewriteRule ^catalogue/([a-z-]+)$ app.php?module=catalogue&action=$1 [L]
RewriteRule ^catalogue/product-([0-9]+)$ app.php?module=catalogue&action=detail&id=$1 [L]
RewriteRule ^catalogue/tag-([0-9]+)$ app.php?module=catalogue&action=&action=list-tag&tag=$1 [L]